<h1>Dog List</h1>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div *ngFor="let dog of dog">
  {{ dog.name }}

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

          <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Instagram</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Twitter</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Facebook</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Pinterest</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Google</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Instagram</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Twitter</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Facebook</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Pinterest</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Google</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Instagram</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Twitter</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Facebook</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Pinterest</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Google</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <p><img class=" img-fluid" src="../../assets/english-bulldog.jpg"
              alt="card image"></p>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

    </div>
  </div>
</div>