
    <mat-toolbar>
      <span>Login/Sign Up</span>
    </mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>

        <form class="my-form" (submit)="signUp($event)">
       
            <mat-toolbar>
              <span>Sign Up</span>
            </mat-toolbar>
            <mat-card class="my-card">
               <mat-card-content>
            
                       <label>Username</label>
                        <input  matInput   name="Username">
                    <br> 
                    <br> 
                        <label>Password</label>
                        
                        <input  matInput name="password" type="password" >
               </mat-card-content>
               <mat-card-actions>
                  <button mat-raised-button (click)="submit" color="gray">LOGIN</button>
               </mat-card-actions>
          
      </mat-card>
      
    </form>
<br>
    <form class="my-form" (submit)="loginUser($event)">
       
        <mat-toolbar>
          <span>Sign Up</span>
        </mat-toolbar>
        <mat-card class="my-card">
           <mat-card-content>
        
                   <label>Username</label>
                    <input  matInput   name="Username">
                <br> 
                <br> 
                    <label>Password</label>
                    
                    <input  matInput name="password" type="password" >
           </mat-card-content>
           <mat-card-actions>
              <button mat-raised-button (click)="submit" color="gray">LOGIN</button>
           </mat-card-actions>
      
  </mat-card>
  
</form>

 