

<h1>Dog Talk</h1>
<form (submit)="THEWORLD($event)">
    <div class="input">
      <input type="submit" value="Set Role Admin">
    </div>
  </form>
  <form (submit)="userRole($event)">
      <div class="input">
        <input type="submit" value="Set Role user">
      </div>
    </form>
  <form (submit)="logout($event)">
      <div class="input">
        <input type="submit" value="Logout">
      </div>
    </form>

    <div class="createPost" *ngIf="roleService.userRole"  > 
    <form (submit)="createPost($event)">
        <div class="input"> 
          <label>Create Your Post</label>
          <br>
          
          
          <textarea   
            class="commentBox" 
            placeholder="Your Message"
            required
            data-validation-required-message="Please leave a message"
            name="message"
            maxlength="250"
                   ></textarea>
        </div>
  
        <div class="input">
          <input type="submit" value="Post Comment">
        </div>
      </form>
    </div>

<div  class="table"  *ngFor="let comment of comment ">
  <div class="two" > 
    <img src="../../assets/img/stock/pom.jpg" class="img" />
   
    <br>

    <p> User ID : {{ comment.id }}</p>
  </div> 

  <div class="three"> 
    <p>{{ comment.description }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  </div>

    <div *ngIf="roleService.adminRole"  > 
    <form (submit)="delete($event)">
      <div class="input">
        <input type="submit" value="Delete">
      </div>
    </form>
    <form (submit)="update($event)">
      <div class="input">
        <input type="submit" value="Update">
      </div>
    </form>
  </div>

  </div>
  