

.table{
    display: table;
    width: 100%;
    left: 0;
    top: 0;
    margin-bottom: 4vw;
    
}

.createPost{
    width: 90%;
    float: left;
    display: table-cell;
    height: 30vh;
    margin: 3vw;
    padding: 1vh;
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border: solid 5px black
}

.createPost:hover{
    box-shadow: 0 3vw 6vw 0 rgba(0, 0, 0, 0.497), 0 3vw 6vw 0 rgba(0, 0, 0, 0.585);
}

.commentBox{
    height: 20vh;
    width: 90%;
    font-size: 1.5rem
}

.three{
    width: 80%;
    float: left;
    display: table-cell;
    background-color:  rgba( 144,145,137,1);
    color: white;
    font-size: 1.5rem;
    height: 15rem;

}

.two{
    width: 20%;
    float: left;
    display: table-cell;
    background-color:  rgba(104,154,153,1);
    font-size: 1.5rem;
    height: 15rem;
}

.img{
    width: 10rem;
}

.animate-if {
    display: none;
  }
  
  .buttonDiv{
    width: 20%;
    float: left;
    display: table-cell;
  }